@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=IBM+Plex+Sans&family=Indie+Flower&family=Jost:ital,wght@1,900&family=Lunasima&family=Poppins:wght@100;200;300;400&family=Roboto+Slab&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
  transition: 0.7s linear;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  background-color: #000;
}
/* header */
.header{
  font-size: 20px;
  display: flex;
  color: #f9fafb;
  justify-content: center;
  justify-content: space-evenly;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background: #121212;
}
.logo{
  margin: 20px;
  position: relative;
}
.logo .imagelogo{
  height: 30px;
  position: absolute;
  left: -40px;
  top: -4px;
}
#sidemenu{
  display: flex;
  list-style-type: none;
}
#sidemenu .sectionlinks{
  padding: 20px 0;
}
#sidemenu .sectionlinks a{
  color: #fff;
  margin: 0 10px;
  position: relative;
}
#sidemenu .sectionlinks a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -6px;
  left: 0px;
  background-color: #fca311;
  transition:0.5s;
}
#sidemenu .sectionlinks a:hover::after{
  width: 100%;
}
.header .fa-solid{
    display: none;
    margin: 17px 0 0 10px;
    font-size: 28px;
}

@media (max-width:600px) {
  #sidemenu{
    display: inline-block;
    height: 100vh;
    width: 50%;
    position: fixed;
    right: -350px;
    transition: right 0.3s;
  }
  .header .fa-solid{
    display: block;
  }
}
#home {
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  background: url("images/thumbnail.jpg");
  background-size: cover;
  background-position: right;
  position: relative;
}

#home .textcontainer {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
}
#home .textcontainer h2 {
  font-size: 36px;
  font-weight: bolder;
  line-height: 70px;
  color: #f9fafb;
}
#home .textcontainer h3 {
  font-size: 36px;
  font-weight: bolder;
  line-height: 50px;
  width: 50%;
  color: #f9fafb;
}
#home .textcontainer h3 span {
  color: rgba(245, 158, 11, 1);
}
#home .textcontainer p {
  font-size: 16px;
  line-height: 22px;
  margin-top: 20px;
  width: 50%;
  color: #fff;
}
#home .textcontainer .viewbtn {
  height: 40px;
  width: 164px;
  background: #f2672e;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  margin: 10px 0;
}
.image-container img{
    height: 300px;
    width: 300px;
}

@media (max-width: 765px) {
  #home {
    background-position: left;
  }

  #home .textcontainer {
    flex-basis: 100%;
    margin: 0 50px;
    position: relative;
  }
  #home .textcontainer h3 {
    width: 100%;
    font-size: 35px;
    line-height: 45px;
  }
  #home .textcontainer h2 {
    font-size: 35px;
  }
  #home .textcontainer p {
    width: 100%;
  }
}

@media (max-width: 350px) {
  #home .textcontainer h3 {
    font-size: 20px;
    line-height: 25px;
  }
  #home .textcontainer h2 {
    font-size: 20px;
    line-height: 25px;
  }
  #home .textcontainer {
    margin: 0px 10px;
  }
  #home .textcontainer .viewbtn {
    height: 33px;
    width: 127px;
  }
}

@media (max-width: 936px) and (orientation: landscape) {
  #home .textcontainer h3 {
    width: 100%;
    font-size: 25px;
    line-height: 30px;
  }
  #home .textcontainer h2 {
    font-size: 25px;
    margin-top: 60px;
  }
  #home .textcontainer p {
    font-size: 15px;
    line-height: 20px;
    width: 60%;
  }
  #home .textcontainer .viewbtn {
    height: 40px;
    width: 124px;
  }
}



/* About */
.about {
  margin: 2px 2px;
  background: #000;
  overflow-x: hidden;
  position: relative;
}
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 3rem 1rem 1rem 1rem;
  margin: 2rem 0;
}
span {
  color: #5e738c;
}

.about .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
  padding-bottom: 3rem;
  justify-content: space-evenly;
}
.about .row .text-container {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.about .row .content {
  flex-basis: 50%;
  font-size: 17px;
  text-transform: capitalize;
  margin: auto;
}

.about .row .content p {
  font-size: 15px;
  color: #fff;
  padding: 10px 15px;
  line-height: 25px;
}
.about .row .content .viewbtn {
  height: 40px;
  width: 134px;
  background: #5e738c;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  margin: 10px 13px;
}
.about .row .content .viewbtn:hover {
  background: #333;
  color: #fff;
}

@media (max-width: 1180px) {
  .about .row .text-container {
    display: inline;
    overflow: hidden;
  }
}
@media (max-width: 765px) {
  .about {
    margin: 0 10px;
  }
  .about .row .text-container {
    display: flex;
    overflow: hidden;
  }
  .about .row .text-container .content {
    flex-basis: 100%;
  }
}

/* Project */
.project {
  overflow-x: hidden;
  margin: 0 40px;
}
.project .heading {
  background: #121212;
  margin: 20px 0;
  padding: 40px;
  font-size: 50px;
}
.project .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  background: #333;
}
.row .container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.row .container img {
  padding: 20px;
  display: flex;
  filter: saturate(100%);
}
.row .container video {
  padding: 20px;
  display: flex;
  filter: saturate(100%);
}
.row .container .text-container{
    width: 500px;
    padding: 10px 15px;
    color: white;
  }
  .row .container .text-container h3{
   margin: 20px 0;
  }
  .row .container .text-container span{
    color: #fca311;
  }
  .row .container .text-container h1{
   font-size: 30px;
  }
  .row .container .text-container p{
    font-size: 17px;
   }
@media (max-width: 769px) {
    .project {
        margin: 0px 10px;
    }
    .project .heading {
        font-size: 20px;
    }

}
@media (max-width: 495px) {
    .project {
        margin: 0px 5px;
    }
    .row .container {
        padding: 20px;
        align-items: center;
        justify-content: center;
    }
    .row .container img {
        width: 350px;
    }
    .row .container video {
         width: 350px;
    }
    .row .container .text-container {
        width: 100%;
    }

}
@media (max-width: 348px) {
    .project .heading {
        font-size: 15px;
    }
    .row .container .text-container {
        width: 80%;
    }
    .row .container .text-container h1 {
        font-size: 25px;
    }
    .row .container .text-container p {
        font-size: 15px;
    }
    .row .container img {
        width: 300px;
    }
    .row .container video {
      width: 300px;
 }

}

/* footer */
.footer{
  margin: 10px 20px;
  text-align: center;
}
.footer span{
 color: #fca311;
}
.footer .row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer .row .connect-container .fa-brands{
 font-size: 25px;
 margin: 15px;
 color: white;
 background: #333;
 padding: 15px;
 border-radius: 50%;
}
.footer .row .connect-container .fa-brands:hover{
  cursor: pointer;
  background-color: #fca311;
  color: #000000;
 }
 .footer .copyright h3{
  padding: 10px;
  }
 .footer .copyright h3{
 color: white;
 position: relative;
 }

  @media (max-width:340px) {
    .footer .row .connect-container .fa-brands{
      font-size: 20px;
      margin: 10px;
      color: white;
      background: #333;
      padding: 10px;
      border-radius: 50%;
     }
  }